.table-wrapper {
    border: 1px solid black;
    border-radius: 10px;
    border-collapse: collapse;
    width: 40%;
    margin-bottom: 10px;
    overflow: hidden;
}

.table-wrapper header {
    display: grid;
    background-color: #e8dfe8;
}

.table-wrapper .table-body {
    display: grid;
}

.table-wrapper .table-body .table-row {
    display: grid;
}

.table-wrapper .cell {
    line-height: 1.4;
}